<robot name="urdf_full_withdifferential">
<link name ="base_footprint"/>
  <link name="base_link">
    <inertial>
      <origin xyz="-8.62749455390888E-07 -0.199935354355364 7.39506556213243E-07" rpy="0 0 0" />
      <mass value="63.9060977955842" />
      <inertia ixx="1.70494710581378" ixy="3.63534253615494E-06" ixz="-4.07726366048265E-11" iyy="1.7038898606227" iyz="-3.2715195183839E-06" izz="1.70405318275277" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/base_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="base_footprint_joint" type="fixed">
    <origin xyz="0 0 0.7" rpy="1.5708 0 0" />
    <parent link="base_footprint" />
    <child link="base_link" />
  </joint>
  <link name="FLS">
    <inertial>
      <origin xyz="-0.0859227859013545 0.00942636676874559 -0.018" rpy="0 0 0" />
      <mass value="0.421478659835308" />
      <inertia ixx="0.000323343163772463" ixy="-0.000423851259011929" ixz="1.1039543526609E-19" iyy="0.00277180070535692" iyz="-1.51294470087742E-19" izz="0.00300352909591045" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/FLS.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/FLS.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="FLS_joint" type="continuous">
    <origin xyz="-0.15000000000005 -0.30000000000019 0.236000000000033" rpy="0 0 -0.00563357703574462" />
    <parent link="base_link" />
    <child link="FLS" />
    <axis xyz="0 0 1" />
    <dynamics damping="50.0" friction="60.0" />
    <limit lower="0" upper="0" effort="0" velocity="0" />
  </joint>
  <link name="LCON">
    <inertial>
      <origin xyz="0.150862067292726 -0.00202586541454713 -0.018" rpy="0 0 0" />
      <mass value="0.437253133223537" />
      <inertia ixx="9.49991474727357E-05" ixy="1.14559990276547E-08" ixz="4.32237757348914E-19" iyy="0.00422746216586061" iyz="-3.22892284170018E-20" izz="0.00422801463655706" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/LCON.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/LCON.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="LCON_joint" type="continuous">
    <origin xyz="0 0.0698799999999988 0.0359999999999998" rpy="0 0 0.170998923196448" />
    <parent link="FLS" />
    <child link="LCON" />
    <axis xyz="0 0 1" />
    <dynamics damping="20.0" friction="10.0" />
    <limit lower="0" upper="0" effort="0" velocity="0" />
  </joint>
  <link name="FLE">
    <inertial>
      <origin xyz="7.11322488688992E-08 -0.132525085246451 0.000179324335166431" rpy="0 0 0" />
      <mass value="0.327691642726196" />
      <inertia ixx="0.00191827341384124" ixy="-9.59391541017813E-11" ixz="7.9871153451922E-10" iyy="6.63133397487257E-05" iyz="7.07445123010505E-06" izz="0.00191889435171992" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/FLE.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/FLE.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="FLE_joint" type="continuous">
    <origin xyz="-0.221880000000004 -0.0199999999999965 -0.0180000000000187" rpy="0 0 0" />
    <parent link="FLS" />
    <child link="FLE" />
    <axis xyz="0 -1 0" />
    <dynamics damping="60" friction="70" />
    <limit lower="0" upper="0" effort="0" velocity="0" />
    <mimic joint="FLS_joint" multiplier="1" offset="0" />
  </joint>
  <link name="FLD">
    <inertial>
      <origin xyz="4.9960036108132E-16 -2.50494069931051E-15 0.0699220489977899" rpy="0 0 0" />
      <mass value="9.87402571023273" />
      <inertia ixx="0.7179206038" ixy="-6.532318089e-17" ixz="1.296290942e-14" iyy="0.7179206038" iyz="4.304736691e-14" izz="1.113290901" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/FLD.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/FLD.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="FLD_joint" type="continuous">
    <origin xyz="0 -0.252629999999817 -0.0699999999999947" rpy="0 0 0" />
    <parent link="FLE" />
    <child link="FLD" />
    <axis xyz="0 0 1" />
  </joint>
  <link name="FRS">
    <inertial>
      <origin xyz="-0.0859227859013869 0.00942636676878217 0.0179999999999998" rpy="0 0 0" />
      <mass value="0.421478659835308" />
      <inertia ixx="0.000323343163772463" ixy="-0.00042385125901193" ixz="-5.62719948364493E-20" iyy="0.00277180070535692" iyz="1.01421706155182E-20" izz="0.00300352909591045" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/FRS.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/FRS.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="FRS_joint" type="continuous">
    <origin xyz="-0.14999999999997 -0.300000000000037 -0.236" rpy="0 0 -0.00563357703571223" />
    <parent link="base_link" />
    <child link="FRS" />
    <axis xyz="0 0 1" />
    <dynamics damping="50.0" friction="60.0" />
    <limit lower="0" upper="0" effort="0" velocity="0" />
  </joint>
  <link name="RCON">
    <inertial>
      <origin xyz="0.145424427617103 -0.000862341394183841 0.018" rpy="0 0 0" />
      <mass value="0.437253133223538" />
      <inertia ixx="9.4999147472736E-05" ixy="1.14559990278004E-08" ixz="-7.33489321985012E-20" iyy="0.00422746216586062" iyz="1.41012096876808E-20" izz="0.00422801463655707" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/RCON.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/RCON.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="RCON_joint" type="continuous">
    <origin xyz="0.00555632634173762 0.0696587513352951 -0.036" rpy="0 0 0.170998923196402" />
    <parent link="FRS" />
    <child link="RCON" />
    <axis xyz="0 0 1" />
    <dynamics damping="20.0" friction="10.0" />
  </joint>
  <link name="FRE">
    <inertial>
      <origin xyz="7.11322430402284E-08 -0.132525085246448 0.000179324335148001" rpy="0 0 0" />
      <mass value="0.327691642726197" />
      <inertia ixx="0.00191827341384124" ixy="-9.59391545501015E-11" ixz="7.98711534355919E-10" iyy="6.6313339748726E-05" iyz="7.0744512301049E-06" izz="0.00191889435171992" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/FRE.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/FRE.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="FRE_joint" type="continuous">
    <origin xyz="-0.22188000000003 -0.019999999999963 0.0179999999999996" rpy="0 0 0" />
    <parent link="FRS" />
    <child link="FRE" />
    <axis xyz="0 -1 0" />
    <dynamics damping="60" friction="70" />
  </joint>
  <link name="FRD">
    <inertial>
      <origin xyz="-1.16573417585641E-15 -2.4980018054066E-16 -0.0700779510022269" rpy="0 0 0" />
      <mass value="9.87402571023272" />
      <inertia ixx="0.7179206038" ixy="-4.065758147e-17" ixz="1.006932249e-16" iyy="0.7179206038" iyz="-9.058657689e-17" izz="1.113290901" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/FRD.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/FRD.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="FRD_joint" type="continuous">
    <origin xyz="0 -0.25263 0.0699999999999992" rpy="0 0 0" />
    <parent link="FRE" />
    <child link="FRD" />
    <axis xyz="0 0 1" />
  </joint>
  <link name="BRS">
    <inertial>
      <origin xyz="0.0745631775271119 0.022850087602438 0.0180000000000018" rpy="0 0 0" />
      <mass value="0.488425756620788" />
      <inertia ixx="0.00092614340805777" ixy="0.000928715333039745" ixz="-1.31747251784065E-19" iyy="0.00325064739061898" iyz="-8.72341008664085E-20" izz="0.00406992346835391" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/BRS.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/BRS.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="BRS_joint" type="continuous">
    <origin xyz="0.150000000000035 -0.300000000000026 -0.236000000000002" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="BRS" />
    <axis xyz="0 0 -1" />
    <dynamics damping="50.0" friction="60.0" />
    <limit lower="-5" upper="5" effort="0" velocity="0" />
  </joint>
  <link name="BRE">
    <inertial>
      <origin xyz="0.00116067685120697 -0.12226382636265 -0.000179315880371345" rpy="0 0 0" />
      <mass value="0.327691807588041" />
      <inertia ixx="0.00191827406333181" ixy="1.00465744275231E-10" ixz="8.19179649459195E-10" iyy="6.63133608825541E-05" iyz="-7.07446111086811E-06" izz="0.00191889492747505" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/BRE.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/BRE.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="BRE_joint" type="continuous">
    <origin xyz="0.221579249367119 -0.0302612598865152 0.0180000000000049" rpy="0 0 0" />
    <parent link="BRS" />
    <child link="BRE" />
    <axis xyz="0 -1 0" />
    <dynamics damping="60" friction="70" />
  </joint>
  <link name="BRD">
    <inertial>
      <origin xyz="-5.55111512312578E-17 3.46944695195361E-17 -0.0699220489977728" rpy="0 0 0" />
      <mass value="9.87402571023271" />
      <inertia ixx="0.7179206038" ixy="-1.552219612e-16" ixz="2.299598583e-16" iyy="0.7179206038" iyz="-1.093076535e-16" izz="1.113290901" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/BRD.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/BRD.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="BRD_joint" type="continuous">
    <origin xyz="0.00116075063284515 -0.242368740113459 0.0699999999999967" rpy="0 0 0" />
    <parent link="BRE" />
    <child link="BRD" />
    <axis xyz="0 0 1" />
  </joint>
  <link name="Rdiffcon2">
    <inertial>
      <origin xyz="-1.22124532708767E-15 4.77395900588817E-15 -6.66133814775094E-16" rpy="0 0 0" />
      <mass value="0.000268082573106329" />
      <inertia ixx="1.71572846788051E-09" ixy="0" ixz="0" iyy="1.71572846788051E-09" iyz="0" izz="1.71572846788051E-09" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/Rdiffcon2.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/Rdiffcon2.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="Rdifcon2_joint" type="continuous">
    <origin xyz="0.0659999999999654 0.0160000000000209 0.0400000000000027" rpy="0 0 0" />
    <parent link="BRS" />
    <child link="Rdiffcon2" />
    <axis xyz="0 0 1" />
    <dynamics damping="5.0" friction="2.0" />
  </joint>
  <link name="BLS">
    <inertial>
      <origin xyz="0.0745631775271478 0.0228500876024123 -0.018" rpy="0 0 0" />
      <mass value="0.488425756620787" />
      <inertia ixx="0.000926143408057766" ixy="0.000928715333039741" ixz="-1.06442573276355E-18" iyy="0.00325064739061897" iyz="7.98202613439845E-19" izz="0.0040699234683539" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/BLS.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/BLS.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="BLS_joint" type="continuous">
    <origin xyz="0.15 -0.3 0.236" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="BLS" />
    <axis xyz="0 0 -1" />
    <dynamics damping="60.0" friction="70.0" />
  </joint>
  <link name="BLE">
    <inertial>
      <origin xyz="7.37816384099865E-08 -0.132525086249191 0.000179315880368236" rpy="0 0 0" />
      <mass value="0.327691807588042" />
      <inertia ixx="0.00191827406333182" ixy="-1.00465744251717E-10" ixz="8.19179649511172E-10" iyy="6.63133608825545E-05" iyz="7.07446111086836E-06" izz="0.00191889492747505" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/BLE.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/BLE.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="BLE_joint" type="continuous">
    <origin xyz="0.22274 -0.0200000000000006 -0.0179999999999993" rpy="0 0 0" />
    <parent link="BLS" />
    <child link="BLE" />
    <axis xyz="0 -1 0" />
    <dynamics damping="60" friction="70" />
  </joint>
  <link name="BLD">
    <inertial>
      <origin xyz="1.11022302462516E-16 3.46944695195361E-17 -0.0700779510022274" rpy="0 0 0" />
      <mass value="9.87402571023271" />
      <inertia ixx="0.7179206038" ixy="-1.094305963e-16" ixz="-4.952229678e-17" iyy="0.7179206038" iyz="-8.072830015e-17" izz="1.113290901" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/BLD.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/BLD.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="BLD_joint" type="continuous">
    <origin xyz="0 -0.25263 0.0699999999999998" rpy="0 0 0" />
    <parent link="BLE" />
    <child link="BLD" />
    <axis xyz="0 0 1" />
  </joint>
  <link name="Ldiffcon2">
    <inertial>
      <origin xyz="1.38777878078145E-15 -8.82627304576999E-15 1.33226762955019E-15" rpy="0 0 0" />
      <mass value="0.000268082573106329" />
      <inertia ixx="1.71572846788051E-09" ixy="0" ixz="0" iyy="1.71572846788051E-09" iyz="0" izz="1.71572846788051E-09" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/Ldiffcon2.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/Ldiffcon2.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="Ldiffcon2_joint" type="continuous">
    <origin xyz="0.0659999999999987 0.0160000000000088 -0.0400000000000014" rpy="0 0 0" />
    <parent link="BLS" />
    <child link="Ldiffcon2" />
    <axis xyz="0 0 1" />
    <dynamics damping="5.0" friction="2.0" />
  </joint>
  <link name="Differential">
    <inertial>
      <origin xyz="0.0257108744931145 7.59907178293773E-08 2.41890217544949E-06" rpy="0 0 0" />
      <mass value="0.0319105287212865" />
      <inertia ixx="0.000414937280996164" ixy="1.8691023026653E-11" ixz="5.47172225168955E-10" iyy="0.000415097786630013" iyz="1.90355379218194E-10" izz="5.53338311551749E-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/Differential.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/Differential.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="Differential_joint" type="continuous">
    <origin xyz="0.19 -0.134 0" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="Differential" />
    <axis xyz="-1 0 0" />
    <dynamics damping="5.0" friction="2.0" />
  </joint>
  <link name="Ldiff">
    <inertial>
      <origin xyz="-2.05435002342824E-10 -0.0749991791723406 -1.47776946235467E-09" rpy="0 0 0" />
      <mass value="0.0109883970238179" />
      <inertia ixx="1.93575289717759E-05" ixy="-1.99382865096824E-13" ixz="3.33311220025189E-10" iyy="1.39403820629681E-07" iyz="1.11203601192025E-13" izz="1.93588284627278E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/Ldiff.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/Ldiff.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="Ldiff_joint" type="continuous">
    <origin xyz="0.026 0 0.196" rpy="0 0 0" />
    <parent link="Differential" />
    <child link="Ldiff" />
    <axis xyz="0 1 0" />
    <dynamics damping="5.0" friction="2.0" />
  </joint>
  <link name="Ldiffcon">
    <inertial>
      <origin xyz="1.38777878078145E-15 0.149999999999991 1.99840144432528E-15" rpy="0 0 0" />
      <mass value="0.000268082573106329" />
      <inertia ixx="1.71572846788051E-09" ixy="0" ixz="0" iyy="1.71572846788051E-09" iyz="0" izz="1.71572846788051E-09" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/Ldiffcon.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/Ldiffcon.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="Ldiffcon_joint" type="continuous">
    <origin xyz="0 -0.149999999999991 0" rpy="0 0 0" />
    <parent link="Ldiff" />
    <child link="Ldiffcon" />
    <axis xyz="0 0 1" />
    <dynamics damping="5.0" friction="2.0" />
  </joint>
  <link name="Rdiff">
    <inertial>
      <origin xyz="-1.48361950502718E-09 -0.0750008208276476 1.57684310053696E-10" rpy="0 0 0" />
      <mass value="0.0109883970238178" />
      <inertia ixx="1.93589088955141E-05" ixy="-5.97378254450444E-14" ixz="-1.02595394047841E-11" iyy="1.3940382062968E-07" iyz="2.20343233122188E-13" izz="1.93574485389894E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/Rdiff.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/Rdiff.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="Rdiff_joint" type="continuous">
    <origin xyz="0.026 0 -0.196" rpy="0 0 0" />
    <parent link="Differential" />
    <child link="Rdiff" />
    <axis xyz="0 1 0" />
    <dynamics damping="5.0" friction="2.0" />
  </joint>
  <link name="Rdiffcon">
    <inertial>
      <origin xyz="5.55111512312578E-17 5.55111512312578E-17 2.22044604925031E-16" rpy="0 0 0" />
      <mass value="0.000268082573106329" />
      <inertia ixx="1.71572846788051E-09" ixy="0" ixz="0" iyy="1.71572846788051E-09" iyz="0" izz="1.71572846788051E-09" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/Rdiffcon.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_gazebo/meshes/Rdiffcon.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="Rdiffcon_joint" type="continuous">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="Rdiff" />
    <child link="Rdiffcon" />
    <axis xyz="0 0 1" />
    <dynamics damping="5.0" friction="2.0" />
  </joint>
  <link name="imu_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.01" />
      <inertia ixx="1e-06" ixy="0" ixz="0" iyy="1e-06" iyz="0" izz="1e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.02 0.02 0.02" />
      </geometry>
      <material name="imu_grey">
        <color rgba="0.2 0.2 0.2 1" />
      </material>
    </visual>
  </link>
  <joint name="imu_joint" type="fixed">
    <origin xyz="0 -0.2 0" rpy="1.5708 0 3.14159" />
    <parent link="base_link" />
    <child link="imu_link" />
  </joint>
  <gazebo reference="imu_link">
    <sensor name="imu_sensor" type="imu">
      <always_on>1</always_on>
      <update_rate>100</update_rate>
      <topic>/imu/data</topic>
      <gz_frame_id>imu_link</gz_frame_id>
      <imu>
        <angular_velocity>
          <x><noise type="gaussian"><mean>0.0</mean><stddev>0.0002</stddev><bias_mean>0.00005</bias_mean><bias_stddev>0.00001</bias_stddev></noise></x>
          <y><noise type="gaussian"><mean>0.0</mean><stddev>0.0002</stddev><bias_mean>0.00005</bias_mean><bias_stddev>0.00001</bias_stddev></noise></y>
          <z><noise type="gaussian"><mean>0.0</mean><stddev>0.0002</stddev><bias_mean>0.00005</bias_mean><bias_stddev>0.00001</bias_stddev></noise></z>
        </angular_velocity>
        <linear_acceleration>
          <x><noise type="gaussian"><mean>0.0</mean><stddev>0.017</stddev><bias_mean>0.005</bias_mean><bias_stddev>0.001</bias_stddev></noise></x>
          <y><noise type="gaussian"><mean>0.0</mean><stddev>0.017</stddev><bias_mean>0.005</bias_mean><bias_stddev>0.001</bias_stddev></noise></y>
          <z><noise type="gaussian"><mean>0.0</mean><stddev>0.017</stddev><bias_mean>0.005</bias_mean><bias_stddev>0.001</bias_stddev></noise></z>
        </linear_acceleration>
      </imu>
    </sensor>
  </gazebo>
  <link name="lidar3d_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.5" />
      <inertia ixx="0.0003" ixy="0" ixz="0" iyy="0.0004" iyz="0" izz="0.0003" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.04" length="0.05" />
      </geometry>
      <material name="lidar_black">
        <color rgba="0.05 0.05 0.05 1" />
      </material>
    </visual>
  </link>
  <joint name="lidar3d_joint" type="fixed">
    <origin xyz="0 0.03 0" rpy="1.5708 0 3.14159" />
    <parent link="base_link" />
    <child link="lidar3d_link" />
  </joint>
  <gazebo reference="lidar3d_link">
    <sensor name="lidar3d" type="gpu_lidar">
      <always_on>1</always_on>
      <update_rate>10</update_rate>
      <topic>/lidar/points</topic>
      <gz_frame_id>lidar3d_link</gz_frame_id>
      <visualize>false</visualize>
      <lidar>
        <scan>
          <horizontal>
            <samples>1024</samples>
            <resolution>1</resolution>
            <min_angle>-3.14159</min_angle>
            <max_angle>3.14159</max_angle>
          </horizontal>
          <vertical>
            <samples>16</samples>
            <resolution>1</resolution>
            <min_angle>-0.261799</min_angle>
            <max_angle>0.261799</max_angle>
          </vertical>
        </scan>
        <range>
          <min>0.5</min>
          <max>30.0</max>
          <resolution>0.01</resolution>
        </range>
      </lidar>
    </sensor>
  </gazebo>
  <link name="camera_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.161" />
      <inertia ixx="3.4e-05" ixy="0" ixz="0" iyy="4.3e-05" iyz="0" izz="3.4e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.03" />
      </geometry>
      <material name="camera_blue">
        <color rgba="0.1 0.2 0.5 1" />
      </material>
    </visual>
  </link>
  <joint name="camera_joint" type="fixed">
    <origin xyz="-0.21 -0.1 0" rpy="1.5708 0 3.14159" />
    <parent link="base_link" />
    <child link="camera_link" />
  </joint>
  <link name="camera_optical_frame" />
  <joint name="camera_optical_joint" type="fixed">
    <origin xyz="0 0 0" rpy="-1.5708 0 -1.5708" />
    <parent link="camera_link" />
    <child link="camera_optical_frame" />
  </joint>
  <gazebo reference="camera_link">
    <sensor name="rgbd_camera" type="rgbd_camera">
      <always_on>1</always_on>
      <update_rate>30</update_rate>
      <topic>/camera</topic>
      <gz_frame_id>camera_link</gz_frame_id>
      <visualize>false</visualize>
      <camera name="zed2i_front">
        <horizontal_fov>1.5708</horizontal_fov>
        <image>
          <width>1280</width>
          <height>720</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.3</near>
          <far>20.0</far>
        </clip>
      </camera>
    </sensor>
  </gazebo>
  <gazebo reference="FLD">
    <mu1>2.0</mu1>
    <mu2>2.0</mu2>
  </gazebo>
  <gazebo reference="FRD">
    <mu1>2.0</mu1>
    <mu2>2.0</mu2>
  </gazebo>
  <gazebo reference="BLD">
    <mu1>2.0</mu1>
    <mu2>2.0</mu2>
  </gazebo>
  <gazebo reference="BRD">
    <mu1>2.0</mu1>
    <mu2>2.0</mu2>
  </gazebo>
  <gazebo>
    <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher"/>
  </gazebo>
  <gazebo>
    <plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">
      <left_joint>FLD_joint</left_joint>
      <left_joint>BLD_joint</left_joint>
      <right_joint>FRD_joint</right_joint>
      <right_joint>BRD_joint</right_joint>
      <wheel_separation>0.296</wheel_separation>
      <wheel_radius>0.13</wheel_radius>
      <max_torque>20</max_torque>
      <odom_publish_frequency>50</odom_publish_frequency>
      <topic>cmd_vel</topic>
      <odom_topic>/odom</odom_topic>
    </plugin>
  </gazebo>
</robot>